.div{
    width: 800px;
    height: 400px;
    background-color: rgb(251, 251, 251);
    margin: 30px;
    padding: 20px;

}

.titre{

}

.all{
    display: flex;
    justify-content: space-around;
}

.img{
    margin-top: 20px;
   margin-right: 20px;
}

.para{
    margin-top: 40px;
    line-height:33px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.me-2{
    margin-right: -0.5rem!important;
    border-radius: 20px;
    width: 400px;
}
.btn{
    margin-left: 15px;
    border-radius: 20px;
    color: rgb(227, 159, 32);
    border: white;
}
.search{
    display: flex;
    margin-top: 50px;
}
.why{
    margin: 30px;

}

.para1{
    margin-top: 40px;
    line-height:33px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.image{
    margin-top: 30px;
    margin-left: 400px;
    margin-bottom: 30px;

}
.link{
    font-size: 20px;
    color: rgb(227, 159, 32);
    margin-top: 60px;
    text-decoration: none;
}
.button{
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 10px;
}
.controls {
    width:100%;
  
    position:relative;
 }
 .icon{
    color: rgb(227, 159, 32);
}

.icon:hover{
  color: white;
    
}
.btn:hover{
    background-color:  rgb(227, 159, 32);
    color: white;
}