<div class="container bg-white p-3 mt-300 rounded border shadow" *ngIf="association!=null">
  <div class="image">
    <img class="rounded1 " [src]="association.logo">
  </div>
  <div class="text"  >
    <h1 class="name">{{association.nameAssociation}}</h1>

    <div class="local">
      <p class="siege">{{association.sigleAssociation}}</p><br>
      <p class="siege">{{association.city}} </p><br>
      <p class="siege" >{{association.infos}}</p>
    
    </div>

   
    <div class="counter">

      <a href="{{association.facebook}}" class="btn-floating pulse indigo darken-3 btn btn-outline-success"><i class="fa fa-facebook"></i></a>
      <a href="{{association.twitter}}" class="btn-floating pulse light-blue darken-3 btn btn-outline-success"><i
          class="fa fa-twitter"></i></a>
      <a href="{{association.emailAssociation}}" class="btn-floating pulse red darken-3 btn btn-outline-success"> <i class="fa fa-envelope" aria-hidden="true"></i> </a>
      <a href="{{association.instagram}}" class="btn-floating pulse brown darken-3 btn btn-outline-success"><i class="fa fa-instagram"></i></a>
    </div>
   
  </div>
  <div class="dropdown">
    <button class="btn1 btn-success fa fa-pencil" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" ></button>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li class="d-flex align-items-center" >
          <a class="dropdown-item d-flex justify-content-around align-items-center  fs-7 fa fa-pencil"(click)="editeAnn(association)" > Editer Mon Profile</a>



        </li>
        <li class="d-flex align-items-center"  >
          <a class="dropdown-item d-flex justify-content-around align-items-center  fs-7 fa fa-trash " data-bs-toggle="modal" data-bs-target="#suppression">Supprimer mon compte</a>
        </li>

        <li class="d-flex align-items-center"  >
          <a class="dropdown-item d-flex justify-content-around align-items-center  fs-7 fa fa-pencil"  data-bs-toggle="modal" data-bs-target="#ajoutMembre">Ajouter un membre</a>
        </li>
      </ul>
  </div>
  

   
 
</div>
<div class="container list bg-white p-3 mt-3 rounded border shadow">
  <a class="link" href="profile/{{association.id}}#news">Evenements</a>
  <a class="link" href="profile/{{association.id}}#annonce">Annonces</a>
  <a class="link" href="profile/{{association.id}}#contact">Contact</a>
  <a class="link" href="profile/{{association.id}}#nous">Qui Somme Nous</a>
  <a class="link" href="profile/{{association.id}}#membre">Membres</a>


</div>



<div class="modal fade" id="suppression" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Demande de suppression du compte</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form  #demandeForm="ngForm" (ngSubmit)="save(demandeForm.value)">
          <div class="mb-3">
            <h3 class="modal-title" id="exampleModalLabel">Veuillez remplir les informations suivantes</h3>
            <label for="recipient-name" class="col-form-label">Votre nom</label>
            <input type="text" class="form-control" id="recipient-name" name="name" ngModel>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Le nom de l'association</label>
            <input type="text" class="form-control" id="recipient-name" name="name_asso" ngModel>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Email de l'association</label>
            <input type="text" class="form-control" id="recipient-name" name="email_asso" ngModel>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Pourquoi souhaitez vous supprimer votre compte?</label>
            <textarea class="form-control" id="message-text" name="text" ngModel></textarea>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn2 btn-primary"  data-bs-dismiss="modal">Envoyer</button>
            <button type="button" class="btn2 btn-secondary" data-bs-dismiss="modal" style="background-color: red; border-color: red;">Close</button>
 
          </div>
        </form>
      </div>
     
    </div>
  </div>
</div>




<div class="modal fade" id="ajoutMembre" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Ajouter un membre</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form  #ajoutForm="ngForm" (ngSubmit)="ajouter(ajoutForm.value)">
          <div class="mb-3">
            <h3 class="modal-title" id="exampleModalLabel">Veuillez remplir les informations suivantes</h3>
            <label for="recipient-name" class="col-form-label">Nom</label>
            <input type="text" class="form-control" id="recipient-name" name="name" ngModel>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Prenom</label>
            <input type="text" class="form-control" id="recipient-name" name="lastname" ngModel>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Email </label>
            <input type="text" class="form-control" id="recipient-name" name="email" ngModel>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label" >Position </label>
            <input type="text" class="form-control" id="recipient-name" name="position" ngModel>
          </div>
          

          <div class="modal-footer">
            <button type="submit" class="btn2 btn-primary"  data-bs-dismiss="modal">Ajouter</button>
            <button type="button" class="btn2 btn-secondary" data-bs-dismiss="modal" style="background-color: red; border-color: red;">Close</button>
 
          </div>
        </form>
      </div>
     
    </div>
  </div>
</div>