<div class="container bg-white p-3 mt-300 rounded border shadow">
  <div class="image">
    <img class="rounded1 " src="../../../assets/images.jpg">

  </div>
  <div class="text">
    <a class="name">Association Care</a>
    <div class="local">
      <a class="siege">Siege</a>|
      <a class="siege" >Local</a>
    </div>
    <div class="counter">
      <a href="https://web.facebook.com" class="btn-floating pulse indigo darken-3 btn btn-outline-success"><i class="fa fa-facebook"></i></a>
      <a href="" class="btn-floating pulse light-blue darken-3 btn btn-outline-success"><i
          class="fa fa-twitter"></i></a>
      <a href="" class="btn-floating pulse red darken-3 btn btn-outline-success"> <i class="fa fa-envelope" aria-hidden="true"></i> </a>
      <a href="" class="btn-floating pulse brown darken-3 btn btn-outline-success"><i class="fa fa-instagram"></i></a>

     
      <div class="like  dropdown-item rounded  d-flex  justify-content-center align-items-center pointer  text-muted  p-1 ">
        <i class="fa fa-heart text-danger "></i>
   
     </div>
    </div>
   
  </div>
</div>

<div class="container list bg-white p-3 mt-3 rounded border shadow">
  <a class="link" href="#event">Evenements</a>

  <a class="link" href="#annonce">Annonces</a>
  <a class="link" href="#contact">Contact</a>
  <a class="link" href="#Nous">Qui Somme Nous</a>


</div>



