<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <img width="230"  src="./../../../assets/logo.PNG" />
    <div *ngIf="islogIn" class=" align-items-center " > 
      <div class="dropdown d-block ">       
          <img [src]="this.uploadService.getImage(this.association.logo)"  alt=""
            class="rounded-circle " style="width: 70px;
            height: 70px;"
            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"/>
            <p style="font-size: 18px; margin-top:5px;">{{association.nameAssociation}}</p>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <button
      (click)="Logout()"
      class="btn btn-outline-success"
      type="submit"
      *ngIf="islogIn"
     
    >
      Déconnexion
    </button>
          <li><a  class="btn btn-outline-success" href="profile/{{association.id}}">Profile</a></li>
          
        </ul>
      </div>
  </div>
    <form class="d-flex">
      <button
        (click)="goToConn('auth/login')"
        class="btn btn-outline-success"
        type="submit"
        *ngIf="!islogIn"
        style="background-color: #D81515; color: white; border-color: #D81515;"
      >
        Se connecter
      </button>
      <button
        (click)="goToConn('auth/register')"
        class="btn btn-outline-success inscrire"
        type="submit"
        *ngIf="!islogIn"
      >
        S'inscrire
      </button>
      
    
     
    </form>   
  </div>
</nav>

 <div class="navbar1  navbar navbar-expand-lg navbar-light "  >
 
  <a class="link " aria-current="page" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">ASSOCIATIONS</a>|
  <a class="link " aria-current="page" routerLink="benevoles" routerLinkActive="active">BENEVOLES</a>|
  <a class="link " aria-current="page" routerLink="partenaires"  routerLinkActive="active">PARTENAIRES</a>|
  <a class="link " aria-current="page" routerLink="nous"  routerLinkActive="active">POURQUOI NOUS REJOUNDRE</a>|
  <a class="link " aria-current="page" routerLink="maroc"  routerLinkActive="active">MAROC BENEVOLAT</a>


 
 </div>

