
<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
     <img  width="200" src="./../../../assets/logo.png" >
      <form class="d-flex" (ngSubmit)="Search(homeform)" #homeform="ngForm">
       <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"  [(ngModel)]="search.search" name="you searched " >
        <button class="btn btn-outline-success" type="submit"><mat-icon>search</mat-icon></button>
       
      </form>
      <form class="d-flex">
      <button  (click)="goToConn('auth/login')"  class="btn btn-outline-success" type="submit" style="background-color: green; color: white;">Se connecter</button>
      <button  (click)="goToConn('auth/register')" class="btn btn-outline-success" type="submit" >S'inscrire</button>
    </form>
        
    </div>
  </nav>


 <div class="navbar1">
  <a class="link " aria-current="page" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">ASSOCIATIONS</a>|
  <a class="link " aria-current="page" routerLink="benevoles" routerLinkActive="active">BENEVOLES</a>|
  <a class="link " aria-current="page" routerLink="partenaires"  routerLinkActive="active">PARTENAIRES</a>|
  <a class="link " aria-current="page" routerLink="maroc"  routerLinkActive="active">MAROC BENEVOLAT</a>|
  <a class="link " aria-current="page" routerLink="nous"  routerLinkActive="active">POURQUOI NOUS REJOUNDRE</a>
 </div>