<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <img width="330"  src="./../../../assets/logo2.png" />
   



     


    

    <form class="d-flex">
      <button
        (click)="goToConn('auth/login')"
        class="btn btn-outline-success"
        type="submit"
        *ngIf="!islogIn"
        style="background-color: #D81515; color: white; border-color: #D81515;"
      >
        Se connecter
      </button>
      <button
        (click)="goToConn('auth/register')"
        class="btn btn-outline-success inscrire"
        type="submit"
        *ngIf="!islogIn"
      >
        S'inscrire
      </button>
      <button
      (click)="Logout()"
      class="btn btn-outline-success"
      type="submit"
      *ngIf="islogIn"
      style="background-color: rgb(227, 159, 32); color: white"
    >
      Déconnexion
    </button>
     
    </form>
  </div>
</nav>

 <div class="navbar1  navbar navbar-expand-lg navbar-light "  >
 
  <a class="link " aria-current="page" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">ASSOCIATIONS</a>|
  <a class="link " aria-current="page" routerLink="benevoles" routerLinkActive="active">BENEVOLES</a>|
  <a class="link " aria-current="page" routerLink="partenaires"  routerLinkActive="active">PARTENAIRES</a>|
  <a class="link " aria-current="page" routerLink="nous"  routerLinkActive="active">POURQUOI NOUS REJOUNDRE</a>|
  <a class="link " aria-current="page" routerLink="maroc"  routerLinkActive="active">MAROC BENEVOLAT</a>


 
 </div>

