  <!-- <section class="login">
    <div class="app__container">
        <div class="login__row">
            <div class="login__col">
                <div class="login__header">
                    <h1 class="login__title">S'identifier</h1>
                </div>
                <div class="login__body">
                    <form action="#" [formGroup]="loginForm">
                        <div class="form__group">
                            <mat-form-field appearance="outline" class="form__control">
                                <mat-label>Email *</mat-label>
                                <input matInput formControlName = "email">
                                <mat-error *ngIf="isControlHasError('email','required')">
                                    <strong>Email est obligatoire</strong>
                                </mat-error>
                                <mat-error *ngIf="isControlHasError('email','email')">
                                    <strong>Email est invalide</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form__group">
                            <mat-form-field appearance="outline" class="form__control">
                                <mat-label>Mot de passe *</mat-label>
                                <input matInput type="password" name="password" id="password" formControlName = "password">
                                <mat-error *ngIf="isControlHasError('password','required')">
                                    <strong>Mot de passe est obligatoire</strong>
                                </mat-error>
                                <mat-error *ngIf="isControlHasError('password','minlength')">
                                    <strong>Mot de passe est court(6 caractére minimum)</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="btn__actions">
                            <button mat-flat-button color="primary" class="btn__block btn btn-primary" (click)="login()" [disabled]="loginForm.invalid">Se connecter</button>
                        </div>
                        <div>
                            <a href="javascript:;" routerLink="/auth/forget-password" class="text-decoration-none" style="color:dimgray;">
                                Mot de passe oublié
                            </a>
                        </div>
                        <div class="loginSignUpSeparator">
                            <span class="textInSeparator">ou</span>
                        </div>
                        <div class="login__actions">
                            <button mat-flat-button routerLink="/auth/register" class="btn__block btn-primary login__btn-signin ">S'inscrire</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section> -->
<div class="page-container">
    <div class="left-panel">
      <div class="content">
        <div class="header">
          <!-- <embed class="logo" src="assets/images/logo.svg" /> -->
        </div>
        <!-- <embed class="illustration" src="assets/images/illustration-1.svg" /> -->
      </div>
    </div>
    <div class="right-panel">
      <div class="content">
        <h1 class="fw-bold">S'identifier</h1>
        <p>Le Bénévolat aujourd'hui et demain
        </p>
        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="hasFormErrors">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
              {{error}}
            </div>
        </div>
        <form class="form" [formGroup]="loginForm">
          <div class="form-input">
            <input placeholder="Email" type="text" formControlName = "email" (keyup)="changeError()"/>
            <span class="icon"><embed src="assets/images/email.svg" /></span>
          </div>
          <div class="form-input">
            <input placeholder="Mot de passe" type="password" formControlName = "password" (change)="changeError()"/>
            <span class="icon"
              ><embed src="assets/images/password.svg"
            /></span>
          </div>

          <div class="save-connexion">
            <span
              ><span class="remember-me"
                ><label class="checkbox-container"
                  >Rester connecter
                  <input type="checkbox" checked="checked" />
                  <span class="checkmark"></span> </label></span
            ></span>

            <span class="forgot-password" routerLink="/auth/forget-password">Oubliez mot de passe?</span>
          </div>
          <button class="submit" type="button" (click)="login()">Se connecter</button>
          <div class="d-flex align-center mt-5">
            <hr class="sparator">
            <span class="fw-bold">Ou</span>
            <hr class="sparator">
          </div>
          <button class="submit" routerLink="/auth/register"  type="button">S'inscrire</button>

        </form>
      </div>
    </div>
  </div>
