<a name="contact">
    <div  class="container bg-white p-3 mt-3 rounded " style="display: block;" id="contact">
      <section class="contact-us">
        <div style="margin: 10px;">
          <div class="section-title">
            <h2>Contact</h2>
          </div>
        </div>
        <div style="display: flex; justify-content: space-around;">
          <div style="display: flex;margin: 10px;">
            <i class="fa fa-home " style="font-size: 25px;margin-left: 20px;" aria-hidden="true"></i>
            <p style="margin-left: 10px; color: black;margin-top: 3px;"> {{association.address}}</p>
          </div>
          <div style="display: flex;margin: 10px;">
            <i class="fa fa-envelope " style="font-size: 25px;margin-left: 20px;" aria-hidden="true"></i>
            <p style="margin-left: 10px; color: black;margin-top: 3px;">{{association.emailAssociation}}</p>
          </div>
          <div style="display: flex;margin: 10px;">
          <i class="fa fa-phone " style="font-size: 25px;margin-left: 20px;" aria-hidden="true"></i>
            <p style="margin-left: 10px; color: black;margin-top: 3px;"> {{association.phoneAssociation}}</p>
          </div>
        </div>
        <div class="map" style="text-align: center; margin-top: 40px;">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3571289.733943155!2d76.08560099999998!3d29.058775699999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390e4a4b98404f57%3A0x75ffae70833e8448!2sShahbad%2C%20Haryana%20136135!5e0!3m2!1sen!2sin!4v1594195370933!5m2!1sen!2sin"
            width="80%" height="250" frameborder="0" style="border: 0; " allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
        </div>
      </section>
    </div>
    
    </a>
    
    <div  class="container list  p-3 mt-3 rounded border shadow d-lg-block " style="margin-bottom: 30px;">
      <div style="text-align: center;"><img src="./../../../assets/nous.webp" width="70px"> QUI SOMME NOUS</div>
      <div class="decouvert" >
        <div > <img src="./../../../assets/images.jpg" width="300px"></div>
       
        <div class="textp"><p>
    
          CARE International Maroc (CIM) est une association marocaine, de droit marocain, non confessionnelle et apolitique, reconnue d’utilité publique et faisant partie du réseau CARE International.
          
          L’association a initié ses activités au Maroc en 2008 et a pour objectif de lutter contre les causes profondes de la pauvreté et l’injustice sociale. Elle a pour mission de soutenir les individus et les familles des communautés les plus démunies en contribuant à l’égalité.
          </p>
        </div>
      </div>
