h1{
    margin-top: 100px;
text-align: left;
font-size: 30px;
margin-bottom: 10px;
margin-left: 30px;
}

.table{
    margin-left: 20px;
    margin-top: 70px;
    width: 1400px;
   
}

button{
    background-color: rgb(198, 18, 18);
    color: white;
    border-radius: 18px;
    border-color: rgb(198, 18, 18);
}
.card{
    display: flex;
}

.search{
  margin-left: 900px;
  margin-top:-82px; 
  width: 500px;

}