
<div class="container bg-white p-3 mt-3 mb-3 rounded border shadow membre">
  <div style="text-align: center"  >
    <img src="./../../assets/images/membres.png"  style="margin: 5px;" width="70px" height="50px"/><h2>NOS MEMBRES</h2>
  </div>
<div class="card" style="width: 19rem;" *ngFor="let membre of membres  | paginate: { itemsPerPage: 3, currentPage: pages }" >
    <div class="card-body" >
      <h2 class="card-title"><i class="fa fa-user"  ></i>{{membre.name}} {{membre.lastname}}</h2>
      <h3 class="card-subtitle mb-2 text-muted"> <i class="fa fa-envelope"></i>{{membre.email}}</h3>
      <h3 class="card-subtitle mb-2 text-muted"><i class="fa fa-briefcase"></i>{{membre.position}}</h3>
      <div class="dropdown">
        <button class="btn1 btn-success fa fa-pencil" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" ></button>
    
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li class="d-flex align-items-center" >
              <a class="dropdown-item d-flex justify-content-around align-items-center  fs-7 fa fa-pencil"  data-bs-toggle="modal" data-bs-target="#editerMembre"> Editer </a>
            </li>
            <li class="d-flex align-items-center"  >
              <a class="dropdown-item d-flex justify-content-around align-items-center  fs-7 fa fa-trash " data-bs-toggle="modal" data-bs-target="" (click)="deleteMembre(membre.id)">Supprimer </a>
            </li>
    
           
          </ul>
      </div>
   
    </div>
  </div>
 
</div>

<pagination-controls (pageChange)="pages = $event"  class="pagination"></pagination-controls>




<div class="modal fade" id="editerMembre" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Editer membre</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form >
          <div class="mb-3">
         
            <label for="recipient-name" class="col-form-label">Nom</label>
            <input type="text" class="form-control" id="recipient-name" name="name" ngModel>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Prenom</label>
            <input type="text" class="form-control" id="recipient-name" name="lastname" ngModel>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Email </label>
            <input type="text" class="form-control" id="recipient-name" name="email" ngModel>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label" >Position </label>
            <input type="text" class="form-control" id="recipient-name" name="position" ngModel>
 
          </div>
          

          <div class="modal-footer">
            <button type="submit" class="btn2 btn-primary"  data-bs-dismiss="modal">Editer</button>
            <button type="button" class="btn2 btn-secondary" data-bs-dismiss="modal" style="background-color: red; border-color: red;">Annuler</button>
 
          </div>
        </form>
      </div>
     
    </div>
  </div>
</div>