.membre{
    display: flex;
    justify-content: space-around;
}

h1{
    margin-left: 80px;
    margin-top: 40px;
    font-size: 40px;
    margin-bottom: 50px;
}

.pagination{

    margin-top: 40px;
    margin-left: 120px;

}

.card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);   
  }

  i{
      margin-right: 15px;
  }