.story{
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 20px;
    border-radius: 30px;
    transition: 0.5s ease;
    cursor: pointer;
    width: 300px;
    height: 400px;
   
  }
.story:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
    background-color: white;

    
  }
  
  
  .btn{
  margin-right: 50px;
    border-radius: 30px;
   width: 28px;
   height: 29px;
   font-size: 18px;
   padding: 0px;  
  }
.div{
  display: inline-flex;
  justify-content: space-between;
}
/* .edite {
  position: absolute;
  margin-left: 1040px;
  margin-top: 20px;
  margin-bottom: 20px;
} */
.date{
  text-align: end;
  margin-top: 55px;
  font-size: 15px;
  margin-right: 10px;
}
.countainer{
  justify-content: space-between;
}
