<div style=" margin-left: 40px; margin-right: 40px; display: flex;" >
    <div class="image">
     <img src="./../../../assets/NonProfit.jpeg" width="700px">
    </div>

     <div class="div">
    <h1> Notre Projet  </h1>

    <h3>Maroc Benevolat association reconnue d'utilité publique, vise à développer le volontariat associatif pour une citoyenneté active.<br/>
    <br/>
        Trois principales missions en découlent :<br/><br/>

        -Promouvoir le bénévolat associatif au service de l’intérêt général ;<br/><br/>
        -Mettre en relation les personnes intéressées et les associations mobilisant des bénévoles ;<br/><br/>
        -Accompagner les associations à renforcer la reconnaissance et la valorisation de leurs bénévoles.
    
    </h3>
     </div>
</div>


<div style=" margin-left: 40px; margin-right: 40px; display: flex;" >
   

     <div class="div1">
    <h1> Pourquoi le travail associatif </h1><br/>

    <h2 style="margin-top: 30px">Loi 1901</h2>
    <h3>La création d’une association permet de simplifier la réalisation à plusieurs de projets sportifs, culturels, caritatifs, éducatifs... L'association est une structure qui permet de venir en aide aux personnes dans le besoin. Elle ne doit pas avoir de but le partage de bénéfices. <br/>
    <br/>
       
    </h3>
     </div>
     <div class="image">
        <img src="./../../../assets/ensemble-association-solidarite-aide-main-main-10575538.jpeg" width="700px" style="margin-right: 0px">
       </div>
</div>


<div style=" margin-left: 40px; margin-right: 40px; display: flex;" >
   
 <img src="./../../../assets/logo.PNG" width="600" style="margin-top: 100px; margin-left: 400px; margin-bottom: 100px;">
   
  
</div>



