<section class="forget">
    <div class="app__container">
        <div class="forget__row">
            <div class="forget__col">
                <div class="forget__header">
                    <h1 class="forget__title">Mot de passe oublier</h1>
                </div>
                <div class="forget__body">
                    <form action="#" [formGroup]="emailForm">
                        <div class="form__group">
                            <mat-form-field appearance="outline" class="form__control">
                                <mat-label>Email *</mat-label>
                                <input matInput formControlName = "email">
                                <mat-error *ngIf="isControlHasError('email','required')">
                                    <strong>Email est obligatoire</strong>
                                </mat-error>
                                <mat-error *ngIf="isControlHasError('email','email')">
                                    <strong>Email est invalide</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="btn__actions">
                            <button mat-flat-button color="primary" class="btn__block btn btn-primary" (click)="forget()" [disabled]="emailForm.invalid">Envoyer</button>
                        </div>