<section class="forget">
  <div class="app__container">
    <div class="forget__row">
      <div class="forget__col">
        <div class="forget__header">
          <h1 class="forget__title">Mot de passe oublier</h1>
        </div>
        <div class="forget__body shadow-lg">
          <form action="#" [formGroup]="emailForm" class="form">
            <div class="form-input">
              <input placeholder="Email" type="text" formControlName="email" />
              <span class="icon"><embed src="assets/images/email.svg" /></span>
            </div>
            <div class="btn__actions">
              <button
                color="primary"
                class="submit"
                (click)="forget()"
                [disabled]="emailForm.invalid"
              >
                Envoyer
              </button>
            </div>
          </form>
          <div class="mt-4">
            <span routerLink="/auth/login">
              <svg heigth="25px" style="cursor: pointer;" width="25px" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18" style="color: #012d48;" />
              </svg>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
