<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <div class="container-fluid">
   <img  width="100" src="./../../../assets/logo.jpeg" >
    <form class="d-flex">
    <button class="btn btn-outline-success" type="submit" >Acceuil</button>
    <div class="dropdown">
      <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Editer
      </button>
      <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Post</a></li>
        <li><a class="dropdown-item" href="#">Annonce</a></li>
        <li><a class="dropdown-item" href="#">Profil</a></li>
      </ul>
    </div>
  </form>
      
  </div>
</nav>