<section class="reset">
    <div class="app__container">
        <div class="reset__row">
            <div class="reset__col">
                <div class="reset__header">
                    <h1 class="reset__title">Nouveau mot de passe</h1>
                </div>
                <div class="reset__body">
                    <form action="#" [formGroup]="resetForm">
                        <div class="form__group">
                            <mat-form-field appearance="outline" class="form__control">
                                <mat-label>Nouveau mot de passe *</mat-label>
                                <input matInput formControlName = "newPassword">
                                <mat-error *ngIf="isControlHasError('newPassword','required')">
                                    <strong>Nouveau mot de passe doit contenir des caractéres et des nombres</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form__group">
                            <mat-form-field appearance="outline" class="form__control">
                                <mat-label>Retaper mot de passe *</mat-label>
                                <input matInput formControlName = "retapPassword">
                                <mat-error *ngIf="isControlHasError('retapPassword','required')">
                                    <strong>Retaper mot de passe</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="btn__actions">
                            <button mat-flat-button color="primary" class="btn__block btn btn-primary" (click)="reset()" [disabled]="resetForm.invalid">Valider</button>
                        </div>
