<section class="forget">
  <div class="app__container">
    <div class="forget__row">
      <div class="forget__col">
        <div class="forget__header">
          <h1 class="forget__title">Mot de passe oublié</h1>
        </div>
        <div class="forget__body shadow-lg">
          <div
          *ngFor="let error of errors"
          class="alert alert-danger d-flex align-items-center justify-content-between"
          role="alert"
        >
          <div class="d-flex align-items-center">
            <svg
              id="Layer_1"
              data-name="Layer 1"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 492.8 408.79"
              height="25px"
              width="25px"
              style="margin-right: 5px"
            >
              <defs>
                <style>
                  .cls-1 {
                    fill: #df4759;
                  }
                </style>
              </defs>
              <path
                class="cls-1"
                d="M482.59,381.61,288.86,70c-11.22-18-26.34-28-42.65-28s-31.46,9.92-42.67,28L10.27,381.14C-.95,399.18-3,416.41,4.33,429.71s23.36,20.72,44.86,20.75l394.61.3h-.34v0c19.28,0,37.56-7.32,45-20.65S493.81,399.67,482.59,381.61Zm-225.63,7a15.29,15.29,0,0,1-10.79,4.48,15.31,15.31,0,0,1-15.34-15.43c0-4.05.95-8,3.82-10.86s5.4-4.54,9.26-4.54h.72a17.51,17.51,0,0,1,11.74,4.57,15.84,15.84,0,0,1,4.93,10.87A15.27,15.27,0,0,1,257,388.59ZM246.22,331.4A15.35,15.35,0,0,1,230.88,316L229.26,176.9c0-8.51,6-15.42,13.69-15.42h1.77A17.46,17.46,0,0,1,256.51,166a15.78,15.78,0,0,1,4.93,10.92l.1,139.07A15.36,15.36,0,0,1,246.22,331.4Z"
                transform="translate(0 -42.01)"
              />
            </svg>
            <div>
              {{ error }}
            </div>
          </div>
          <span class="float-end" role="button" (click)="changeError()">X</span>
        </div>
          <form action="#" [formGroup]="codeForm" class="form">
            <div class="form-input" >
              <input placeholder="******" type="text" formControlName="code" (change)="changeError()" />
              <span class="icon"><embed src="assets/images/password.svg" /></span>
            </div>
            <div class="btn__actions">
              <button
                color="primary"
                class="submit"
                (click)="otpValidation()"
              >
                Envoyer
              </button>
            </div>
          </form>
          <div class="mt-4">
            <span routerLink="/auth/login">
              <svg heigth="25px" style="cursor: pointer;" width="25px" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18" style="color: #012d48;" />
              </svg>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
