.all{
width: 400px;
text-align: center;
margin-top: 200px;
margin-left: 500px;

}

.titre{
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    font-family: 'Courier New', Courier, monospace;

}

input{
    width: 400px;
    border-radius: 18px;
}

button{
    width: 150px;
    margin-right: 140px;
    margin-top: 30px;
    border-radius: 18px;
    background-color: rgb(35, 138, 9);
    border-color: rgb(35, 138, 9);
}

label{
    font-size: 18px;
    margin-bottom: 18px;
}