
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
    
     <img  class="image"   src ="../../../assets/logo.PNG">
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/all_associations" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Toutes les associations</a>
              </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home_admin" routerLinkActive="active" >Demandes d'Inscription</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/Suppression" routerLinkActive="active" >Demandes de Suppression</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/Signaler" routerLinkActive="active" >Associations Signaler</a>
          </li>
        
         
        </ul>

        <button (click)="goToConn('login_admin')" >Deconnexion</button>
       
      </div>
    </div>
  </nav>



 