<div  class="title" >
   <p style="font-size: 50px;">LE GRAND RESEAU ASSOCIATIF DU MAROC</p> 
 
</div>
<div class="div">
    <div class="image" >
        <img src="./../../../assets/capture.jpg">
    </div>
    <div style="margin: 30px; width: 500px; height: 100px; padding: 40x;">
        <h1 style="color: rgb(227, 159, 32); text-decoration: underline; font-size: 25px;">Une vitrine associative</h1>
    <p style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-size: 15px;"> Simple ou extrêmement complète, votre billetterie en ligne est à l’image de l’événement que vous organisez. Vous pouvez sensibiliser votre public aux conditions de sécurité et conditions sanitaires. Vous insérez affiche, images, vidéos, présentez votre programme et pouvez ensuite héberger votre billetterie directement sur votre site internet ou diffuser le lien sur tous vos supports pour une meilleure communication.

        Et parce que nous avons à cœur de soutenir les associations comme la vôtre, l'utilisation de nos outils est gratuite. Sans frais, ni commission. Chaque mois ou à votre demande, l'intégralité de ce que vous avez collecté via HelloAsso est directement versé sur le compte en banque de l'association.</p>
        <button class="btn" (click)="goToConn('auth/register')"  >J'inscris mon association</button>
    </div>
</div>


